@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-dark-1;
}

@layer components {
  /* Image Lazy Load */
  .lazy-loader {
    @apply w-9 h-9 rounded-half inline-block border-t-4 border-t-light-1/50 border-r-4 border-r-transparent box-border animate-spin !important;
  }

  /* main */
  .main-container {
    @apply flex min-h-screen flex-col items-center mx-auto px-6 pt-20 sm:px-10 xl:w-[700px] md:w-[650px] w-full bg-dark-1;
  }

  /* Head Text */
  .head-text {
    @apply text-heading2-bold text-light-1;
  }

  /* Activity */
  .activity-card {
    @apply flex items-center gap-4 py-2;
  }

  /* No Result */
  .no-result {
    @apply text-center !text-base-regular text-light-3;
  }

  /* Community Card */
  .community-card {
    @apply w-full rounded-lg bg-dark-3 px-4 py-5 sm:w-96;
  }

  .community-card_btn {
    @apply rounded-lg bg-primary-500 px-5 py-1.5 text-small-regular !text-light-1 !important;
  }

  /* thread card  */
  .thread-card_bar {
    @apply relative mx-auto z-20 mt-2 w-0.5 grow rounded-full bg-gray-1/50;
  }

  /* User card */
  .user-card {
    @apply flex flex-col items-start justify-between gap-4 max-xs:rounded-xl max-xs:bg-dark-3 max-xs:p-4 xs:flex-row xs:items-center;
  }

  .user-card_username {
    @apply flex flex-1 items-center justify-start gap-3;
  }

  .user-card_btn {
    @apply rounded-lg bg-transparent text-base-bold text-light-1 border border-gray-1/80 px-4 py-2 hover:shadow-md hover:shadow-gray-1/20 !important;
  }

  .searchbar {
    @apply flex gap-1 bg-dark-5 px-4 py-2.5 border border-gray-1/30 transition-all duration-75 ease-linear !important;
  }

  .searchbar_input {
    @apply border-none bg-dark-5 text-base-medium text-light-1 placeholder:text-gray-1 outline-none !important;
  }

  .searchbar_input-modal {
    @apply bg-dark-5 max-h-[480px] w-full flex-col border border-gray-1/30 border-t-0 rounded-b-2xl py-1 transition-all duration-75 !important;
  }

  .topbar {
    @apply fixed top-0 z-30 flex md:max-w-[950] lg:max-w-[950] xl:max-w-[1200px] w-full items-center md:justify-between justify-center px-6 py-1 backdrop-blur-xl;
  }

  .nav-menu_link {
    @apply py-4 px-8 rounded-lg !important;
  }

  .ham-menu_link {
    @apply h-full w-full  !important;
  }

  .ham-menu_link-text {
    @apply text-light-1 px-3 py-2 text-base-semibold border-b border-b-gray-1/50 !important;
  }

  .special-btn {
    @apply text-light-1 bg-dark-4 rounded-full text-small-semibold p-6 flex gap-1 items-center hover:scale-110 transition-all duration-75 !important;
  }

  .textarea {
    @apply bg-dark-1 rounded-xl placeholder:text-dark-4 text-small-regular px-5 py-3 border-none focus-visible:ring-transparent !important;
  }

  .bottombar {
    @apply md:hidden inline-block fixed bottom-0 z-10 lg:w-[750px] xl:w-[850px] w-full rounded-t-xl bg-dark-3 p-4 backdrop-blur-lg xs:px-7;
  }

  .bottombar_link {
    @apply relative flex flex-col hover:bg-dark-4/60 items-center rounded-lg p-4 flex-grow xs:px-2 xs:py-2.5;
  }

  .topbar_link {
    @apply relative flex justify-start rounded-lg py-6 px-10 hover:bg-dark-4/70 transition-all duration-75;
  }

  .pagination {
    @apply mt-10 flex w-full items-center justify-center gap-5;
  }

  .rightsidebar {
    @apply sticky right-0 top-0 z-20 flex h-screen w-fit flex-col justify-between gap-12 overflow-auto border-l border-l-dark-4 bg-dark-2 px-10 pb-6 pt-28 max-xl:hidden;
  }

  /* Thread Card Menu Options */
  .thread-card-popover {
    @apply bg-dark-4 outline-none border-none max-w-[210px] p-0 rounded-xl !important;
  }

  .thread-card-popover_item {
    @apply py-3 px-6 w-full cursor-pointer !important;
  }
}

@layer utilities {
  .css-invert {
    @apply invert-[50%] brightness-200;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

/* Clerk Responsive fix */
.cl-organizationSwitcherTrigger .cl-userPreview .cl-userPreviewTextContainer {
  @apply max-sm:hidden;
}

.cl-organizationSwitcherTrigger
  .cl-organizationPreview
  .cl-organizationPreviewTextContainer {
  @apply max-sm:hidden;
}

/* Tab */
.tab {
  @apply flex w-full min-h-[50px]  items-center gap-3 bg-transparent text-body-semibold text-gray-1 data-[state=active]:border-b data-[state=active]:text-light-1 transition-all duration-75 !important;
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

/* Account Profile  */
.account-form_image-label {
  @apply flex h-24 w-24 items-center justify-center rounded-full bg-dark-4 !important;
}
.account-form_input-label {
  @apply text-small-medium text-light-2 !important;
}

.account-form_image-input {
  @apply cursor-pointer border-none bg-transparent outline-none file:text-blue !important;
}

.account-form_input {
  @apply border border-dark-4 bg-dark-3 text-light-1 mt-0 !important;
}
.account-form_textarea {
  @apply border-0 outline-none ring-0 focus:ring-0 bg-transparent no-focus text-light-1 mt-0 p-0 placeholder:text-gray-1 placeholder:text-base-regular text-base-regular !important;
}

/* Small Text */
.text-small {
  @apply text-[4px] !important;
}

/* Comment Form */
.comment-form {
  @apply mt-10 flex items-center gap-4 border-y border-y-dark-4 py-5 max-xs:flex-col !important;
}

.comment-form_btn {
  @apply rounded-2xl bg-primary-500 px-8 py-2 !text-small-regular text-light-1 max-xs:w-full !important;
}

.comment-form_input {
  @apply no-focus outline-none text-light-1 bg-dark-2 my-auto py-2 !important;
}

/* Thread card */
.thread-card_link {
  @apply relative h-6 w-6 rounded-full hover:bg-dark-2 transition-all duration-75 !important;
}

/* Delete Card */
.delete-dialog-content {
  @apply sm:max-w-[280px] sm:max-h-[185px] outline-none border border-gray-1/30 rounded-2xl bg-dark-2 p-0 !important;
}

.delete-dialog-content_btn {
  @apply flex justify-center items-center flex-1 w-full h-10 py-2 bg-transparent rounded-none !important;
}
/* remove Cross from card */
.delete-dialog-content button svg {
  @apply hidden;
}

/* Profile Tabs */
div[role="tabpanel"][data-state="inactive"] {
  display: none;
}

/* Carousel Classes */
.carousel-btn_comment {
  @apply bg-dark-4/70 border-none text-light-1 mx-14 h-8 w-8 opacity-0 group-hover:opacity-100 hover:bg-dark-1/90 transition-all duration-75 !important;
}

.carousel-btn {
  @apply bg-dark-4 border-none text-gray-1 -ml-10 h-12 w-12 opacity-0 group-hover:opacity-100 hover:bg-gray-1/30 hover:text-light-1/50 transition-all duration-75 !important;
}

.carousel-item {
  @apply my-2 max-w-fit !important;
}

.carousel-card {
  @apply p-0 w-full max-w-fit h-full border-0 bg-transparent !important;
}

.carousel-card_content {
  @apply bg-transparent relative w-full max-w-max rounded-lg border-none p-0 flex gap-0 !important;
}

/* Loading Spinners */
.ring-loader {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #5c5c7b;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.ring-loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left: 4px solid #777777;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ripple-loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.ripple-loader::after,
.ripple-loader::before {
  content: "";
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: rippleLoader 2s linear infinite;
}
.ripple-loader::after {
  animation-delay: 1s;
}

@keyframes rippleLoader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
